body,
h1,
h2,
ul,
li,
p,
dl,
dt,
dd {
    margin: 0px;
    padding: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    background: #faf6ed;
    color: #222;
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {
    display: grid;
    grid-column: 3/5;
    background: #fb5;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.menu li a {
    display: block;
    color: #222;
    padding: 15px 10px;
    margin-right: 10px;
    font-size: 0.875rem;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: .1em;
    font-family: 'IBM Plex Mono', monospace;
    text-transform: uppercase;
}

.grid-section {
    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}

.titulo {
    font-family: 'Playfair Display SC', georgia;
    font-size: 6rem;
    grid-column: 1/4;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
}

.animais h2::before {
    content: '';
    display: inline-block;
    background: #fb5;
    width: 40px;
    height: 10px;
    margin-right: 10px;
}

.animais h2 {
    font-family: 'IBM Plex Mono', monospace;
    color: #e54;
    margin-bottom: 1rem;
    letter-spacing: .1em;
    font-size: 1rem;
    text-transform: uppercase;
}

.animais p {
    line-height: 1.2;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;
}

.animais-lista::-webkit-scrollbar-thumb {
    background: #fb5;
    border-left: 4px solid #faf6ed;
    border-right: 4px solid #faf6ed;
}

.animais-lista::-webkit-scrollbar-track {
    /* background: #faf6ed; */
    background: lightgray;
}

.animais-descricao {
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2/4;
}

.faq-lista-dt::before {
    content: '';
    display: inline-block;
    background: #fb5;
    width: 20px;
    height: 10px;
    margin-right: 10px;
}

.faq-lista-dt {
    color: #e54;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
}

.faq-lista-dd {
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 0.5rem;
    margin-left: 30px;
}

.mapa {
    grid-column: 2;
}

.dados {
    grid-column: 3/4;
}

.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    background: #fb5;
    margin-right: 10px;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Helvetica, Arial, sans-serif;
}

.copyright {
    grid-column: 3/5;
    margin-bottom: 2rem;
    background: #fb5;
}

.copyright-p {
    padding: 20px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

@media (max-width: 700px) {
    body {
        grid-template-columns: 1fr;
    }

    .menu,
    .grid-section,
    .copyright {
        grid-column: 1;
    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista,
    .dados,
    .mapa {
        grid-column: 1/3;
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .menu {
        margin-top: 0px;
    }

    .copyright {
        margin-bottom: 0px;
    }
}